 /* Card Section  */
                                    
 .card-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
    align-items: flex-start;
}
.card-img{

    
}
.card-img img{
    width: 100%;
     height: 280px;
     flex-shrink: 0;
     border-radius: 14px;

}
.yallow-card{
    position: absolute;
    
    width: 125px;
    height: 85px;
   margin-top: -5.30rem;
  
    display: flex;
    justify-content: center;
    align-items: center;
   padding: 10px 18px 11px 18px;

border-radius: 0px 32px 0px 0px;
background: var(--Theme-Primary, #FFB30E);
}

.yallow-card-number{
   
}
.yallow-card-number p{
    color: var(--Theme-White, #FFF);

    color: var(--Theme-White, #FFF);

    /* Headline 2 Bold */
    font-family: "Medium";
    font-size: 68px;
    font-style: normal;
    font-weight: 700;
    line-height: 106%; /* 72.08px */
}

.yallow-card-number-text-two{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: 0rem;

   width: 50px;

   height: 85px; 
}

.yallow-card-number-text-two p{
    color: var(--Theme-White, #FFF);
   
    /* Headline 5 Bold */
    font-family: "Medium";
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 42px */    
 }

 .yallow-card-ratio{
    margin-bottom:-1rem;
 }
.yallow-card-body-text{
display: flex;

}
.yallow-card-body-text p{
color: var(--Theme-Gray, #424242);
/* Headline 6 Bold */
font-family: "Medium";
font-size: 22px;
font-style: normal;
font-weight: 700;
line-height: 120%; /* 26.4px */                                        

}

.yallow-card-body-btn{
display: flex;
}
.yallow-card-body-btn button{
border: none;
display: flex;
align-items: flex-start;
padding: 8px 16px;
gap: 10px;
border-radius: 8px;
background: rgba(241, 114, 40, 0.20);




color: var(--Theme-Warning, #F17228);

/* Headline 6 Bold */
font-family: "Medium";
font-size: 22px;
font-style: normal;
font-weight: 700;
line-height: 120%; /* 26.4px */
}

.card-body-c{
    background-color: transparent !important;
    border: none !important;
}

@media only screen and (max-width:575px){
    .card-wrapper{
        margin-left: 8rem;
    }
}

@media only screen and (max-width:425px){
    .card-wrapper{
        margin-left: 4rem;
    }
}
@media only screen and (max-width:320px){
    .card-wrapper{
        margin-left: 1rem;
    }
}